<%= form_with model: @blog, local: true do |form| %>
  <div class="title">
    <h5><%= form.label :title, "タイトル" %></h5>
    <p><%= form.text_field :title %></p>
  </div>
  <br>
  <div class="content">
    <h5><%= form.label :content, "内容(140文字以内)" %></h5>
    <p><%= form.text_area :content %></p>
  </div>
  <p><%= form.submit "投稿" %></p>
<% end %>