<h1>確認画面</h1>
<%= form_with model: @blog, url: blogs_path, local: true do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <div class="title">
    <h5>"タイトル"</h5>
    <p><%= @blog.title %></p>
  </div>
  <br>
  <div class="content">
    <h5>"内容(140文字以内)"</h5>
    <p><%= @blog.content %></p>
  </div>
  <%= form.submit "投稿", class: "btn btn-danger" %>
  <%= form.submit "戻る", name: "back", class: "btn btn-success" %>
<% end %>